<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cvmaster.xosstech">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cv_master_launcher_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/cv_master_launcher_logo"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".InputActivities.BuildResumeTrainings"
            android:exported="true" />
        <activity
            android:name=".CoverLatterActivity"
            android:exported="true" />
        <activity
            android:name=".Storyboard.StoryBoard"
            android:exported="true" />
        <activity
            android:name=".SingleJob"
            android:exported="true" />
        <activity
            android:name=".Ads.Interstetial"
            android:exported="true" />
        <activity
            android:name=".JobsActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ShowPdf"
            android:exported="true" />
        <activity
            android:name=".InputActivities.BuildResumeProjects"
            android:exported="true" />
        <activity
            android:name=".InputActivities.BuildResumeAddition"
            android:exported="true" />
        <activity
            android:name=".HomePage"
            android:exported="true">

        </activity>
        <activity
            android:name=".Profile.DashBoardActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".Template7"
            android:exported="true" />
        <activity android:name=".activity.FragmentShowActivity" />
        <activity android:name=".ChargingActivity" />
        <activity android:name=".SendMail" />
        <activity android:name=".BuildResumePDF_Part2" />
        <activity android:name=".showallpdf.ShowMyPDF" />
        <activity android:name=".UserSignInPart2" />
        <activity android:name=".UserSignInPart1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InputActivities.BuildResumePart7" />
        <activity android:name=".InputActivities.BuildResumePart6" />
        <activity android:name=".BuildResumePDF_Part1" />
        <activity android:name=".InputActivities.BuildResumePart5" />
        <activity android:name=".InputActivities.BuildResumePart4" />
        <activity android:name=".InputActivities.BuildResumePart3" />
        <activity android:name=".InputActivities.BuildResumePart2" />
        <activity android:name=".InputActivities.BuildResumePart1" />
        <activity android:name=".showallpdf.PdfActivity" />
        <activity android:name=".SplashScreen" />
        <activity android:name=".UserProfileActivity" />

        <service android:name=".Notification.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Notification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.cvmaster.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- ressource file to create -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>